@font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-thin.woff2') format('woff2'),
        url('./galanogrotesque-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  
}
  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-thinitalic.woff2') format('woff2'),
        url('./galanogrotesque-thinitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-extralight.woff2') format('woff2'),
        url('./galanogrotesque-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  
}
  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-extralightitalic.woff2') format('woff2'),
        url('./galanogrotesque-extralightitalic.woff') format('woff');
  font-weight: 200;
        font-style: italic;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-light.woff2') format('woff2'),
        url('./galanogrotesque-light.woff') format('woff');
  font-weight: 300;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-lightitalic.woff2') format('woff2'),
        url('./galanogrotesque-lightitalic.woff') format('woff');
  font-weight: 300;
        font-style: italic;
  
}
  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-regular.woff2') format('woff2'),
        url('./galanogrotesque-regular.woff') format('woff');
  font-weight: 400;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-italic.woff2') format('woff2'),
        url('./galanogrotesque-italic.woff2') format('woff');
  font-weight: 400;
        font-style: italic;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-medium.woff2') format('woff2'),
        url('./galanogrotesque-medium.woff') format('woff');
  font-weight: 500;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-mediumitalic.woff2') format('woff2'),
        url('./galanogrotesque-mediumitalic.woff') format('woff');
  font-weight: 500;
        font-style: italic;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-semibold.woff2') format('woff2'),
        url('./galanogrotesque-semibold.woff') format('woff');
  font-weight: 600;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-semibolditalic.woff2') format('woff2'),
        url('./galanogrotesque-semibolditalic.woff') format('woff');
  font-weight: 600;
        font-style: italic;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-bold.woff2') format('woff2'),
        url('./galanogrotesque-bold.woff') format('woff');
  font-weight: 700;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-bolditalic.woff2') format('woff2'),
        url('./galanogrotesque-bolditalic.woff') format('woff');
  font-weight: 700;
        font-style: italic;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-extrabold.woff2') format('woff2'),
        url('./galanogrotesque-extrabold.woff') format('woff');
  font-weight: 800;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-extrabolditalic.woff2') format('woff2'),
        url('./galanogrotesque-extrabolditalic.woff') format('woff');
  font-weight: 800;
        font-style: italic;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-heavy.woff2') format('woff2'),
        url('./galanogrotesque-heavy.woff') format('woff');
  font-weight: 900;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-heavyitalic.woff2') format('woff2'),
        url('./galanogrotesque-heavyitalic.woff') format('woff');
  font-weight: 900;
        font-style: italic;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-black.woff2') format('woff2'),
        url('./galanogrotesque-black.woff') format('woff');
  font-weight: 1000;
        font-style: normal;
  
}

  @font-face {
  font-family: 'Galano';
  src:  url('./galanogrotesque-blackitalic.woff2') format('woff2'),
        url('./galanogrotesque-blackitalic.woff') format('woff');
  font-weight: 1000;
        font-style: italic;
  
}